/* banner styles  */
.carousel-item {
  height: 600px;
}

.banner-size {
  height: 120%;
  width: 100%;
}
h3.caption-title-1 {
  color: floralwhite;
}
h3.caption-title-2 {
  color: darkgreen;
}
h3.caption-title-3 {
  color: lightgreen;
}
.caption-1 {
  color: floralwhite;
}
.caption-2 {
  color: darkgreen;
}
.caption-3 {
  color: lightgreen;
}
/* banner styles end  */
